body{
	font-family: sans-serif;
	background-color: #171D22;
	color: white;
}

.container{
	min-height: 100%;
}

.soundlist-container{
	width: 100%;
	display: table;
	padding-bottom: 60px;
}

#soundlist{
/*	display: table-cell;
	text-align: center;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.sound{
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	margin: 20px;
	position: relative;
	transform: scale(1);
	opacity:1;
    transition:opacity 0.3s, filter 0.8s, -webkit-filter 0.8s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    cursor: pointer;
}

.sound:hover {
	opacity:0.9;
	transform: scale(1.1);
	-webkit-filter: blur(0px); 
    filter: blur(0px);
    transition:opacity 0.3s, filter 0.8s, -webkit-filter 0.8s, transform 0.4s;
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.sound > .play {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	color: white;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	opacity: 0;
	transform: rotate(180deg);
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.sound:hover > .play {
	opacity: 0.7;
	transform: rotate(0deg);
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

/*.sound button{
	width: 50px;
	height: 50px;
	opacity: 0.9;
	margin: 23px;
	padding: 0px;
	background-color: #171D22;
	border: 5px #E42621 solid;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	box-shadow: none;
	transition: transform 0.3s, box-shadow 0.3s;
}

.sound button:hover, .sound button:focus:hover{
	transform: scale(1.5) rotate(360deg);
	box-shadow: none;
	transition: transform 0.3s, box-shadow 0.3s;
	transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
*/
@keyframes pressed {
    0% { transform: scale(1.5);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}

/* @keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
} */

.sound button:focus{
	outline: none;
}

.sound button:active{
/* 	animation-name: pressed;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out; */
}

.sound .name{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+0,000000+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	height: 200px;
	line-height: 30px;
	padding-top: 10px;
	color: white;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	width:  100%;
	vertical-align: middle;
}

footer{
	display: block;
	position: absolute;
	bottom:0;
	left: 0;
	height:60px;
	clear: both;
	width:  100%;
}

footer h5{
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	padding-right: 10px;
}

.search-bar{
	width: 100%;
	margin-bottom: 60px;
}

.search-bar input{
	width: 90%;
	margin: auto;
	display: block;
	height:40px;
	font-size:30px;
	font-weight: bold;
	color: #464040;
}