{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Soundboard</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/soundboard.css' %}" />
    </head>

    <body>
        <div class="container">
            <header>
                <h1>ZZZ Soundboard</h1>
                <h2>The ultimate app to ruin your in-work relationships</h2>
                <h5>Work in progress...</h5>
            </header>
            <div class="search-bar">
                <form action="">
                    <input type="text" placeholder="Search" name="search" id="search-field">
                    <div id="message" style="display: none"></div>
                </form> 
            </div>
            <div class="soundlist-container">
                <div id="soundlist">
                    <!-- {% for sound in sounds %}
                        <div class="sound" style="background-image: url('{{sound.icon.url}}')">
                            <div class="name">{{sound.name}}</div>
                            <div class="player">
                                <audio id="player-{{forloop.counter}}" src="{{sound.file.url}}"></audio>
                                <div class="controls">
                                    <button onclick="
                                        document.getElementById('player-{{forloop.counter}}').play();
                                        document.getElementById('player-{{forloop.counter}}').currentTime = 0;">PLAY</button>
                                    <button onclick="
                                        document.getElementById('player-{{forloop.counter}}').pause();
                                        document.getElementById('player-{{forloop.counter}}').currentTime = 0;">STOP</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %} -->
                </div>
            </div>
            <footer>
            </footer>
        </div>
    </body>
    <script src="{% static 'js/search.js' %}"></script>
</html>